{% extends 'basic_boxed.html' %}

{% block tilte %}Account aanmaken{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/register.css') }}">
{% endblock  %}

{% block content %}
    <form id="register-form" class="container needs-" method="POST" action="">
        <h1><b>Maak een account</b></h1>

        <P style="float:left">maak een account aan voor wikiflix.</P>
        
        <div class="input-group">
            <label class="sr-only" for="email-field"></label>
            <span class="input-group-text"><i class="bi bi-envelope-open-fill"></i></span>
            <input class="form-control {% if posted %}{{'is-invalid' if email_error else 'is-valid'}}{% endif %}" 
            type="email" name="email" id="email-field" placeholder="E-mail" value="{{ request.form.get('email', '') }}" required>
            <div class="invalid-feedback">
                {{email-error}}
            </div>
        </div>

        <div class="input-group">
            <label class="sr-only" for="display-name-field"></label>
            <span class="input-group-text"><i class="bi bi-person-square"></i></span>
            <input class="form-control {% if posted %}{{'is-invalid' if display_name_error else 'is-valid'}}{% endif %}"
                   type="text" name="display_name" id="display-name-field" placeholder="Display Name"
                   value="{{ request.form.get('display_name', '') }}" required>
            <div class="invalid-feedback">
                {{display_name_error}}
            </div>    
        </div>

        <div class="input-group">
            <label class="sr-only" for="first-name-field"></label>
            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            <input class="form-control me-2 {% if posted %}{{'is-invalid' if display_name_error else 'is-valid'}}{% endif %}"
                   type="text" name="first_name" id="first-name-field"
                   placeholder="First Name"
                   value="{{ request.form.get('first_name', '') }}"
                   aria-describedby="first-name-feedback" required>
            <div id="first-name-feedback" class="invalid-feedback">
                {{first_name_error}}
            </div>
    
            <label class="sr-only" for="last-name-field"></label>
            <span class="input-group-text"><i class="bi bi-people-fill"></i></span>
            <input class="form-control {% if posted %}{{'is-invalid' if last_name_error else 'is-valid'}}{% endif %}"
                   type="text" name="last_name" id="last-name-field" placeholder="Last Name"
                   value="{{ request.form.get('last_name', '') }}"
                    aria-describedby="last-name-feedback" required>
            <div id="last-name-feedback" class="invalid-feedback">
                {{last_name_error}}

            </div>
        </div>

        <div class="input-group">
            <label class="sr-only" for="password-field"></label>
            <span class="input-group-text"><i class="bi bi-shield-lock-fill"></i></span>
            <input class="form-control me-2 {% if posted %}{{'is-invalid' if password_error else 'is-valid'}}{% endif %}"
                   type="password" name="password" id="password-field" placeholder="Password" required>
            <div class="invalid-feedback">
                {{password_error}}
            </div>
    
            <label class="sr-only" for="password-repeat-field"></label>
            <span class="input-group-text"><i class="bi bi-shield-lock-fill"></i></span>
            <input class="form-control {% if posted %}{{'is-invalid' if password_repeat_error else 'is-valid'}}{% endif %}"
                   id="password-repeat-field" name="password_repeat" type="password"
                   placeholder="Repeat Password" required>
            <div class="invalid-feedback">
                {{password_repeat_error}}
            </div>
        </div>

        <a href="{{ url_for('auth.home') }}" id="login-text"><i class="fa fa-door-open"></i>creeër account!</a>

        <button class="btn btn-primary" id="submit-button" type="submit">Submit</button>

    </form>
{% endblock  %}