{% extends 'basic_flat.html' %}

{% block head %}
	
	<link rel="stylesheet" href="{{ url_for('.static', filename='css/home.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/util.css') }}">

{% endblock %}

{% block title %}Homepagina{% endblock %}

{% block content %}
	
	<div id="home-Carousel" class="carousel slide mb-3" data-ride="carousel">
			
		<!-- Indicatoren -->
		<!--
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#home-Carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="1"></button>
			<button type="button" data-bs-target="#home-Carousel" data-bs-slide-to="1" aria-label="2"></button>
			<button type="button" data-bs-target="#home-Carousel" data-bs-slide-to="2" aria-label="3"></button>
		</div>
		-->
		<!-- Wrapper for slides -->

		<div class="carousel-inner" role="listbox">
			<div class="item activate">
				<img class="d-block w-100" src="{{ url_for('.static', filename='img/1.png') }}" 
				data-src="holder.js/900x400?theme=social" alt="Slide one">
				<div class="carousel-caption d-none d-md-block">
					<h3>De beste films/series</h3>
					<p>De beste films en series, en dat alles op een site</p>
				</div>
			</div>
<!--			
	<div class="carousel-item">
				<img class="d-block w-100" src="{{ url_for('.static', filename='img/2.png') }}" 
				data-src="holder.js/900x400?theme=social" alt="Slide two">
			</div>
			
			<div class="carousel-item">
				<img class="d-block w-100" src="{{ url_for('.static', filename='img/3.png') }}" 
				data-src="holder.js/900x400?theme=social" alt="Slide two">
			</div>
			
		</div>
-->		
		<!-- Left and richt controls -->
<!--
		<button class="carousel-control-prev" type="button" data-bs-target="#home-Carousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Vorige</span>
		</button>
		
		<button class="carousel-control-next" type="button" data-bs-target="#home-Carousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Volgende</span>
		</button>
-->		
	</div>

	<h4>Recent toegevoegd</h4>
	<table class="table b-table">
		<tr>
			<th>Titel</th>
		</tr>
		{% for wiki in recently_added_wiki %}
			<tr>
				<td>
					<a href="{{ url_for('wiki.page', wiki_id=wiki.id) }}">
						<img class="b-table__foto" src="{{ wikiflix.foto_src() }}" alt="foto">
						{{ wiki.titel }}
					</a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
