{% extends 'basic_flat.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('.static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/util.css') }}">

{% endblock %}

{% block title %}Homepagina{% endblock %}

{% block content %}

    <a class="btn btn-dark mb-2 float-end" href="{{ url_for('home.profile') }}">Profile</a>
    <h2>Saved by you</h2>
    <table class="table b-table">
        <tr>
            <th>Title</th>
        </tr>
        {% for wiki in collected_wiki %}
            <tr>
                <td>
                    <a href="{{ url_for('wiki.page', wiki_id=wiki.id) }}">
                        <img class="b-table__foto" src="{{ wiki.foto_src() }}" alt="foto">
                        {{ wikiflix.titel }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}