{% extends 'basic.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/wiki_page.css') }}">
{% endblock  %}

{% block title %}{{ wiki.title }}{% endblock  %}

{% block content %}
    <div id="header">
        {% if current_user.is_authenticated %}
            <div id="admin-bar">
                <a href="{{ url_for('wiki.edit', wiki_id=wiki.id) }}"><i class="bi bi-wrench"></i></a>
                <a href="{{ url_for('wiki.delete, wiki_id=wiki.id }}"><i class="bi bi-x-octagon-fill"></i></a>
            </div>
        {% endif %}
        <h1>{{ wiki.title }}</h1>
    </div>

    <div id="bodu-section">
        <div id="info-bar">
            {% if current_user.is_authenticated %}
                {% if not liked %}
                    <a href="{{ url_for('wiki.user_collect', wiki_id=wiki.id) }}" id="info-bar__add-wiki-button"><i class="bi bi-heart"></i></a>
                {% else %}
                    <a href="{{ url_for('wiki.user_remove', wiki_id=wiki.id) }}" id="info-bar__add-wiki-button"><i class="bi bi-heart-fill"></i></a>
                {% endif %}
            {% endif %}
            <div id="info-bar__cover-image">
                <img alt="cover-image" src="{{ wiki.cover_art_src() }}">
            </div>

            <div id="info-bar__content">
                <h5>Information</h5>
                <p>
                    <b>Premiered:</b> {{ wiki.premiered }}<br>
                    {% if wiki.episodes %}
                        <b>Episodes:</b> {{ wiki.episodes }}<br>
                    {% endif %}
                </p>
            </div>

            <div id="synopsis">
                <h5>Synopsis</h5>
                <p>
                    {% if wiki.synopsis %}
                        {{ wiki.synopsis }}
                    {% else %}
                        No synopsis added...
                    {% endif %}
                </p>
                <hr/>
            </div>
        </div>

        <div id="comments">
            <h4>Comments</h4>
            <hr>
            {% if current_user.is_authenticated %}
			<form action="" method="post">
				{{ comment_form.csrf_token }}

				{{ comment_form.text() }}
				<button type="submit" class="btn btn-dark mb-3 mt-3">COMMENT</button>
			</form>
		{% endif %}

		{% if wiki.comments %}
			<div id="comment-box">
				{% for comment in wiki.comments %}
					<div class="comment">
						<div class="comment__timestamp">{{ comment.placed_on.strftime('%H:%M %d-%b \'%y') }}</div>
						<h6>{{ comment.author.display_name }}</h6>
						{{ comment.text }}
					</div>
				{% endfor %}
            </div>
        {% else %}
            <h6><i>Be the first to write a comment!</i></h6>
        {% endif %}
        </div>
{% endblock  %}