{% extends 'basic.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/wiki_page.css') }}">
{% endblock  %}

{% block title %}{{ wiki.titel }}{% endblock  %}

{% block content %}
    <div id="header">
        {% if current_user.is_authenticated %}
            <div id="admin-bar">
                <a href="{{ url_for('wiki.edit', wiki_id=wiki.id) }}"><i class="bi bi-wrench"></i></a>
                <a href="{{ url_for('wiki.delete, wiki_id=wiki.id }}"><i class="bi bi-x-octagon-fill"></i></a>
            </div>
        {% endif %}
        <h1>{{ wiki.titel }}</h1>
    </div>

    <div id="bodu-section">
        <div id="info-bar">
            {% if current_user.is_authenticated %}
                {% if not liked %}
                    <a href="{{ url_for('wiki.user_collect', wiki_id=wiki.id) }}" id="info-bar__add-wiki-button"><i class="bi bi-heart"></i></a>
                {% else %}
                    <a href="{{ url_for('wiki.user_remove', wiki_id=wiki.id) }}" id="info-bar__add-wiki-button"><i class="bi bi-heart-fill"></i></a>
                {% endif %}
            {% endif %}
            <div id="info-bar__foto">
                <img alt="foto" src="{{ wiki.cover_art_src() }}">
            </div>

            <div id="info-bar__content">
                <h5>Informatie</h5>
                <p>
                    <b>Releasejaar:</b> {{ wiki.releasejaar }}<br>
                    {% if wiki.afleveringen %}
                        <b>Afleveringen:</b> {{ wiki.afleveringen }}<br>
                    {% endif %}
                </p>
            </div>

            <div id="Samenvatting">
                <h5>Samenvatting</h5>
                <p>
                    {% if wiki.samenvatting %}
                        {{ wiki.samenvatting }}
                    {% else %}
                        geen smaenvatting toegevoegd...
                    {% endif %}
                </p>
                <hr/>
            </div>
        </div>
{% endblock  %}