{% extends 'basic_flat.html %}
    
{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/wiki_add.css') }}">
{% endblock  %}

{% block title %}Wikiflix{% endblock  %}

{% block content %}
    <h1>series/films toevoegen</h1>
    {{% if succes_alert %}
        <div class="alert alert-succes">{{ succes_alert }}</div>
    {% endif %}}
    <div id="add-wiki-box">
        <form method="POST" action="" enctype="multipart/form-data" novalidate>
            {{ form.crfs_token }}

            {{ form.foto.label }}
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-card-image"></i></span>
                {{ form.render('foto') }}
            </div>

            {{ form.titel.label }}
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-tag-fill"></i></span>
                {{ form.render('titel') }}
            </div>

            {{ form.afleveringen.label }}
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-stack"></i></span>
                {{ form.render('afleveringen') }}
            </div>

            {{ form.samenvatting.label }}
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-square-fill"></i></span>
                {{ form.render('samenvatting') }}
            </div>

            releasejaar
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-calender-date-fill"></i></span>
                {{ form.render('releasejaar') }}
            </div>

            <button class="btn btn-primary btn-dark" type="submit">Toevoegen</button>
        </form>
    </div>
    
{% endblock  %}