#user-info {
	background-color: #555;
	padding: 12px;
	margin-bottom: 12px;
	position: relative;
	border-radius: 4px;
	border: 3px dashed #444;
}

#user-info h2 {
	font-weight: lighter;
}

#user-info td {
	min-width: 140px;
}

#user-info .block {
	display: inline-block;
	margin-right: 24px;
	margin-bottom: 24px;
}

#user-info td:first-child {
	color: #CCC;
}

#logout-button {
	position: absolute;
	top: 5px;
	right: 48px;
}

#logout-button a {
	font-size: 2rem;
	color: white;
}

#logout-button a:hover {
	color: #888888;
}